body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.login-box {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}
